<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <title>ホーム</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="js/lib.js" type="text/javascript"></script>
    <script src="nav.js" type="text/javascript"></script>
    <style media="screen">
        .card .card-header a[data-toggle="collapse"] {
            display: block;
            padding: .75rem 1.25rem;
            margin: -.75rem -1.25rem;
        }

        .card .card-header a[data-toggle="collapse"]:active,
        .card .card-header a[data-toggle="collapse"]:hover,
        .card .card-header a[data-toggle="collapse"]:focus {
            text-decoration: none; //リンクテキストの下線を消す
        }
        .profil{
          width:100%;
          font-size:small;
          margin-top:5px

        }
    </style>

</head>

<body style="min-width :650px;background-color:#EEEEEE;">
    <nav id="nav" class="navbar navbar-expand navbar-dark bg-success"></nav>
    <div class="container-fluid">
        <div class="row">
            <!--プロフィール  align-items-start -->
            <div class="col-3 col-lg-2 " style="max-width:200px;margin-top:10px;background-color:white;">
                <img class="rounded-circle img-fluid" src="a.jpg" />
                <div class="text-center"><%= nickname %></div>
                <div class="text-center text-muted"><%= _id %></div>
                <!-- IDつけます -->
<<<<<<< HEAD
                <input type="button" class="profil btn btn-outline-success btn-sm" value="投稿数 " onClick="location.href='https://www.google.co.jp'">
                <input type="button" class="profil btn btn-outline-success btn-sm" value="いいな数 <%= favoritecount %>" onClick="location.href='#'">
                <input type="button" class="profil btn btn-outline-success btn-sm" value= "フォロー <%= followcount %>"  onClick="location.href='follow.html'">
                <input type="button" class="profil btn btn-outline-success btn-sm" value="フォロワー <%= followercount %>"  onClick="location.href='follow.html'">
=======
                <input type="button" class="profil btn btn-outline-primary btn-sm" value="投稿数 <%= votecount %>" onClick="location.href='https://www.google.co.jp'">
                <input type="button" class="profil btn btn-outline-primary btn-sm" value="いいな数 <%= favoritecount %>" onClick="location.href='#'">
                <input type="button" class="profil btn btn-outline-primary btn-sm" value= "フォロー <%= followcount %>"  onClick="location.href='follow.html'">
                <input type="button" class="profil btn btn-outline-primary btn-sm" value="フォロワー <%= followercount %>"  onClick="location.href='follow.html'">
>>>>>>> e34240b994f801469f6368d2fbe8ab783ea1ef66
            </div>

            <!--投稿表示-->
            <div class="col-9 col-lg-10 right-contents">
                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card" style="margin-top:10px;">
                        <div class="card-header" role="tab" id="headingOne" style="background-color:white">
                            <img class="rounded-circle" height="46" src="a.jpg" align="top" />
                            <label>名前</label>
                            <label class="text-center text-muted">@id</label>
                            <a class="text-body" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
                          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほたちつてとあいうえおかきくけこさしすせそたちつてと
                        </a><br>
                            <div class="form-check-inline">
                                <i class="far fa-chart-bar">10</i>
                                <button type="button" class="btn btn-link btn-sm"><i class="far fa-heart"style="color:#000000">15</i></button><i class="fas fa-heart"style="color:#ff3399"></i>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" id="aaa1">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input id="customRadio1" name="customRadio" type="radio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio1">bdasdasdasda</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input id="customRadio2" name="customRadio" type="radio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">cdsadsadsadas</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input id="customRadio3" name="customRadio" type="radio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio3">ddsadasdsadasda</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <button type="button" class="btn btn-primary" id="aaas">投票</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
